@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background-color: #d3cbb8;
}

.background{
	width: 100%;
	height: auto;
	background-color: #d3cbb8;
	float: left;
	position: absolute;
}

.leftcon{
	width: 25%;
	background-color: #c57b60;
	height: 100vh;
	float: left;
	position: fixed;
}

.leftcon h2{
	margin-top: 50px;
	text-align: center;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	color: #d3cbb8;
}
.leftcon .genrename{
	margin-top: 40%;

}
.leftcon .genrename p{
	text-align: center;
}
.leftcon .genrename img{
	width: 150px;
}

.menu{
	text-align: center;
	margin-top: 35%;
}
.menu ul{
	list-style: none;
	margin-left: -18px;

}
.menu ul li{
	margin-top: 25px;
}
.menu ul li a{
	text-decoration: none;
	color: #d3cbb8;
}
.rightcon{
	width: 75%;
	float: right;
}
.rightcon h2{
	margin-top: 5%;
	margin-left: 25px;
	color: #c57b60;
}

.rightcon ul{
	list-style: none;
}
.rightcon ul li{
}
.book1{
	background-color: rgba(197, 123, 96,0.50);
	float: left;
	margin-top: 20px;
	width: 70%;
	padding: 10px;
	border-radius: 30px;

}
.book1:hover{
	background-color: rgba(197, 123, 96,0.90);
	float: left;
	width: 70%;
	padding: 10px;
	border-radius: 30px;

}
.book1 img{
	width: 80px;
	float: left;
	margin-right: 15px;
	border-radius: 20px;
}
.book1 h4{
	margin-top: 2px;
	font-size: 20px;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	color: white;

}
.book1 p{
	font-size: 15px;
	color: white;
	float: left;
}
.readm{
	background-color: rgba(197, 123, 96,0.50);
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	border-radius: 30px;
	border: none;
	height: 80px;
	text-decoration: none;
	font-size: 15px;
	color: white;
	padding: 60px 5px 0px 5px;


}
.readm:hover{
	background-color: rgba(197, 123, 96,0.90);
}
.home-txt{
	float: left;
	margin-left: 5%;
	margin-top: 20px;
	padding: 20px;
}
.home-txt a{
	text-decoration: none;
	color: purple;
	font-size: 15px;
}
