body{
	margin: 0;
	padding: 0;
	background-color: #d3cbb8;
}

.background{
	width: 100%;
	height: auto;
	background-color: #d3cbb8;
	float: left;
	position: absolute;
}

.leftcon{
	width: 25%;
	background-color: #c57b60;
	height: 100vh;
	float: left;
	position: fixed;
}
.leftcon img{
  width: 100%;
  margin-top: 30%;
}
.rightcon{
	width: 75%;
	float: right;
}
.rightcon img{
  width: 70%;
margin-left: 15%;
}
.welcome
{
	text-align: center;
  color: #C57B60;
  font: Segoe UI;
  font-size: 3em;
}
.ebox
{
	text-align: center;
  width: 350px;
  top: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 12px;
  border-color: black;
}
.pbox
{
	text-align: center;
  width:350px;
  top: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 12px;
  border-color: black;
}
.btn{
  border: 1px solid #C57B60;
	color: #C57B60;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  overflow: hidden;
	width: 350px;
}
.btn:hover{
	background-color: #C57B60;
	color: white;
}
p
{
	text-align: center;
}
a
{
	text-decoration: none;
	color: #C57B60;
}
.start
{
	margin-left: 30%;
	margin-top: -5%;
	text-align: center;
  color: #7A701C;
  font-size: 1.80em;
}
.welcome1
{
	margin-right:30%;
  color: #322c1f;
  font: Segoe UI;
  font-size: 4em;
}
.fbox
{
	text-align: center;
	position: relative;
	left: -10px;
  width: 160px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 12px;
  border-color: black;
}
.lbox
{
		text-align: center;
		position: relative;
  	left: 10px;
		margin-left: 20%;
    width: 160px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 12px;
    border-color: black;
}
.btn1
{
	margin-left: 33%;
}
